@import "../../assets/styles/partials/1-Helpers/variables.scss";
@import "../../assets/styles/partials/1-Helpers/mixins.scss";

.video__cont__info {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
    
}