@import '../../style/partials/1-Helpers/variables.scss';
@import '../../style/partials/1-Helpers/mixins.scss';

.nav-bar__cont__upload {
   width: 100%;
}

.nav-bar__upload {
  @include button($blue);
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
