@import "../../style/partials/1-Helpers/variables.scss";
@import "../../style/partials/1-Helpers/mixins.scss";

.form-section__cont {
  display: flex;
  padding: $spacer $spacer;
  padding-bottom: $largeSpace;
  width: 100%;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.form {
  padding-left: $spacer;
  width: 100%;

  &__text-area {
    display: flex;

    background-color: $alabaster;
    padding: 12px;
    margin-bottom: $largeSpace;
    border: 1px solid $mercury;
    border-radius: 4px;

    height: 8rem;
    min-height: 2.5rem;

    width: 100%;
    min-width: 240px;
    resize: none;

    // Style guide says 4px but it looks more like 6px
    margin-top: 6px;

    &::placeholder {
      @include bodyCopy;
      font-size: 1.2rem;
      color: $black;
    }

    &:focus {
        outline: 0;
        outline-color: transparent;
        outline-style: none;
        outline: 2px solid $blue;
      }

    &--border {
        border: 2px solid $blue;
    }

    @media (min-width: 768px) {
      height: auto;
      width: auto;
    }
  }

  &__cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &__pfp {
      padding-top: $largeSpace;
    }
  }

  &__label {
    @include special-text(1.1rem);
    color: $silver;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media (min-width: 768px) {
    display: flex;  
    flex-wrap: nowrap;
      flex-direction: row;

    &__label {
    display: flex;
    flex-direction: column;
    }

    &__cont {
        flex-wrap: nowrap;
    
        &__button {
        display: flex;
        width: auto;
        align-items: center;
        margin-left: $largeSpace;
    }
  }
}
}
