@import '../../../style/partials/1-Helpers/mixins.scss';
@import '../../../style/partials/1-Helpers/variables.scss';

.video__cont__title {
    width: 100%;
}

.video__title {
    @include pageHeader;
    padding: 0 $spacer;
    padding-top: $largeSpace;
    padding-bottom: $spacer;
    min-height: 5vh;
    
    @media (min-width: 1280px) {
        padding-top: $xlargeSpace;
    }
}