@import "./variables.scss";
@import "../2-Basics/typography.scss";


@mixin tablet {
@media (min-width: 768px) {
    @content; 
  }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content; 
      }
    }

@mixin regular {
    font-weight: 400;
}



@mixin demi {
    font-weight: 600;
}

@mixin bold {
    font-weight: 700;
}

// Mobile Text Styles
@mixin pageHeader {
    @include bold;
    font-size: 2.06rem;
    line-height: 2.75rem;
} 

@mixin sectionHeader {
    @include bold;
    font-size: 2rem;
    line-height: 2.5rem;
    color: $black;
} 

@mixin subHeader($black) {
    @include demi;
    color: $black;
    font-size: 1.15rem;
    line-height: 1.5rem;
} 

@mixin subHeader2($silver) {
    @include regular;
    color: $silver;
    font-size: 1.15rem;
    line-height: 1.5rem;
} 

@mixin labelHeader {
    @include regular();
    color: $silver;
    font-size: 0.75rem;
    line-height: 1.25rem;
    text-align: justify;
}

@mixin bodyCopy {
    @include regular;
    font-size: 1.14rem;
    line-height: 1.5rem;
} 

@mixin footerCopy {
    @include regular;
    font-size: 1rem;
    line-height: 1.4rem;
} 

@mixin special-text($medSpace: 1rem, $silver: $silver) {
    @include regular;
    color: $silver;
    font-size: $medSpace;
    line-height: 1rem;
} 


// Desktop and Tablet Text Styles
@mixin dt-pageHeader {
    @include bold;
    font-size: 4rem;
    line-height: 4.6rem;
} 

@mixin dt-sectionHeader {
    @include bold;
    font-size: 2.8rem;
    line-height: 3.2rem;
} 

@mixin dt-subHeader {
    @include demi;
    font-size: 1.8rem;
    line-height: 2.25rem;
} 

@mixin dt-bodyCopy {
    @include regular;
    font-size: 1.14rem;
    line-height: 1.8rem;
} 

@mixin dt-footerCopy {
    @include regular;
    font-size: 0.85rem;
    line-height: 1.25rem;
    letter-spacing: 0.025rem;
} 

@mixin dt-special-text {
    @include regular;
    color: $silver;
    font-size: 0.93rem;
    line-height: 1rem;
} 

@mixin dt-quoteBlock {
    @include bold;
    color: $black;
    font-size: 2rem;
    line-height: 2.6rem;
    text-align: justify;
}

@mixin button ($black) { 
    background-color: $blue;
    color: $white;
    height: 48px;

    width: auto;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 400;
    
    &:hover {
        background-color: $darkblue;
    }
}