@import "../../../style/partials/1-Helpers/variables.scss";
@import "../../../style/partials/1-Helpers/mixins.scss";

.video__cont {
    &__data {
        display: flex;
        border-top: 2px solid $mercury;
        border-bottom: 2px solid $mercury;
        margin: 0 $spacer;
        padding: $largeSpace 0;
        justify-content: space-between;
        width: 100%;

        @include tablet {
  
            padding-top: 0;
            margin: 0 $xlargeSpace*1.5;
            align-items: center;
        }

        @include desktop {
            padding: $largeSpace $spacer;
            padding-left: 0;
            margin: 0 0;
        }
    }

    &__author {
        @include subHeader($black);
        display: flex;
        padding-bottom: $largeSpace;
        
        @include tablet {
  
            padding-bottom: 0;
            margin-right: $largeSpace;
    }
    }

    &__impressions {
        padding-left: $largeSpace;
    }
    
    &__likes {
        display: flex;
        width: 100%;
        align-items: center;
        
        @include tablet {
  
            justify-content: flex-end;
            width: auto;
            margin-left: $xlargeSpace;
            }
    }

    &__views {
        display: flex;
        width: 100%;
        align-items: center;
        padding-bottom: $spacer;

    @include tablet {
  
        padding-bottom: 0;
        justify-content: flex-end;
    }
}

    @include tablet {
  
        &__data {
            flex-direction: row;
            border-top: none;
}

}
}

.video {
    
    &__by-date {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;

        @include tablet {
  
           flex-direction: row;
           align-items: center;
        }
    }
        

        &__cont__impressions {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
        
        @include tablet {
  
                flex-direction: row;
                flex-wrap: nowrap;
             }
        }

        &__date {
            @include subHeader2($silver);
        }

        &__views, &__likes {
            @include subHeader2($silver);
        &__icon {
            width: 2.2rem; 
            height: auto;
            padding-right: $smallSpace;
        } 
}
}