@use "../../style/partials/1-Helpers/variables.scss" as *;
@import "../../style/partials/1-Helpers/mixins.scss";

.next-videos {
    padding: 0 $largeSpace;

    &__cont__title {
        @include subHeader($silver);
        padding: $largeSpace 0;
    }
    
    @include tablet {
        padding: 0 $xlargeSpace;
      }

      @include desktop {
        padding-right: 0;
        padding-left: $largeSpace;
      }
}