@import "../../style/partials/1-Helpers/variables.scss";
@import "../../style/partials/1-Helpers/mixins.scss";

@include desktop {

    .dt-bottom__container {
      display: flex;
      padding: 0 $maxSpace*3;
      
    }
    
    .dt-bottom__main {
      
    }
    
    .dt-bottom__side-list {
      min-width: 42%;
      border-left: 2px solid $mercury;
      padding-top: $spacer;
    }
}