@import "../../style/partials/1-Helpers/variables.scss";
@import "../../style/partials/1-Helpers/mixins.scss";

.next-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;

    &__image{
    z-index: 10;
  }
}

.video {
    width: 100%;
    height: auto;
    display: block;


    &__cont {
    position: relative;
    display: inline-block;
    background-color: $darkblk;

    :hover .next-button {
        opacity: 1;
       
      }
  }

@media (min-width: 768px) {
    aspect-ratio: 16/8;
}

@media (min-width: 1280px) {
    aspect-ratio: 16/6;
}

}
  

  
