@import "../../assets/styles/partials/1-Helpers/variables.scss";
@import "../../assets/styles/partials/1-Helpers/mixins.scss";

.video {
  width: 100%;
  height: auto;
  display: block;
  position: relative;

  &__cont {
    position: relative;
    display: inline-block;
    background-color: $darkblk;
  }

  @include tablet {
    aspect-ratio: 16/8;
  }

  @include desktop {
    aspect-ratio: 16/6;
  }
}
