@import '../../../style/partials/1-Helpers/variables.scss';
@import '../../../style/partials/1-Helpers/mixins.scss';

.button__cont {
   width: 100%;
 
   @include tablet {
   max-width: 180px
  }
}

.button {
  @include button($blue);
  display: flex;
  height: 34px;
  max-height: 34px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem;

  @include tablet {
    padding: 1.5rem 1rem;
  }
  
  &__text {
    width: 100%;
    margin-right: 36px;
  }

  &__symbol {
    justify-self: flex-start;
    width: 36px;
    height: auto;

    @include tablet {
  
      padding-right: $spacer;
      margin-left: 0.8rem;
    }
}
}