@import '../../../style/partials/1-Helpers/variables.scss';
@import '../../../style/partials/1-Helpers/mixins.scss';

.button {
  @include button($blue);
  display: flex;
  height: 56px;
  // max-height: 58px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3rem;
  text-transform: uppercase;

  @include tablet {
    padding: 1.5rem 3rem;
  }

  &__symbol {
    justify-self: flex-start;
    width: 36px;
    height: auto;

    @include tablet {
  
      padding-right: $spacer;
      margin-left: 0.8rem;
    }

    &__upload{
      background-image: url('../../../assets/Icons/upload.svg');
      background-repeat: no-repeat;
      background-position: 0.8rem;

    }

    &__comment {
      background-image: url('../../../assets/Icons/add_comment.svg');
      background-repeat: no-repeat;
      background-position: 0.8rem;
    }

    &__publish{
      background-image: url('../../../assets/Icons/publish.svg');
      background-repeat: no-repeat;
      background-position: 0.8rem;
    }
}
}