@import "../../../assets/styles/partials/1-Helpers/variables.scss";
@import "../../../assets/styles/partials/1-Helpers/mixins.scss";

.video__cont__description {
    @include bodyCopy;
    padding: $spacer $spacer;

    @include tablet {
  
        margin: 0 $xlargeSpace*1.5;
        padding: $spacer 0;
    }

    @include desktop {
        margin: 0;
        padding-right: $spacer;
    }
}

