@import "../../style/partials/1-Helpers/variables.scss";
@import "../../style/partials/1-Helpers/mixins.scss";

.comments {

    
    &__pfp {
        display: flex;
        background-color: $mercury;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: $xlargeSpace;
        object-fit: cover;
        object-position: left;
    }

    &__cont {
        margin: 0 $spacer;
        border-top: 2px solid $mercury;
    }

    &__counter {
        padding: 0 $spacer;
        padding-bottom: $spacer;
        font-weight: 600;
    }
}