@import "../../style/partials/1-Helpers/variables.scss";
@import "../../style/partials/1-Helpers/mixins.scss";

.comments {

    &__counter {
        padding: 0 $spacer;
        padding-bottom: $spacer;
        font-weight: 600;

        @media (min-width: $tablet) {
            padding: $spacer $xlargeSpace*1.5;
            }

        @media (min-width: $desktop) {
                padding: $spacer 0;
            }
    }

    &__pfp {
        display: flex;
        background-color: $mercury;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: $xlargeSpace;
        object-fit: cover;
        object-position: left;
    }

    &__cont {
        margin: 0 $spacer;
        border-top: 2px solid $mercury;

        @media (min-width: $tablet) {
            margin: 0 $xlargeSpace*1.5;
            }

        @media (min-width: $desktop) {
            margin: 0 0;
            border-top: none;
            // padding-right: $spacer;
        }
    }

    

    
}