@import "./assets/styles/partials/1-Helpers/variables.scss";
@import "./assets/styles/partials/1-Helpers/mixins.scss";
@import './components/Form/Form.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', sans-serif;
  
  // Anti-aliasing text-effect
  text-shadow: 0 0 1px rgba(51,51,51,0.3);

  padding-bottom: 2rem;

}

h1 {
  @include pageHeader;
  color: $black
}

h2 {
  @include sectionHeader;
}

h3 {
  @include subHeader($black);
}

h4 {
  @include subHeader($silver);
  font-size: 1rem;
}

h5 {

}

p {
  @include bodyCopy;
  color: $black;
  @include desktop {
    @include dt-bodyCopy
  }
  
}
