@import "../../../style/partials/1-Helpers/variables.scss";
@import "../../../style/partials/1-Helpers/mixins.scss";

.video-list {

  @include desktop {
    padding-bottom: $largeSpace*0.7;
  }

  &__thumbnail {
    height: 80px;
    width: auto;
    border-radius: 5px;
  }

  &__title {
    @include subHeader($black);
  }

  &__username {
    @include bodyCopy;
  }

  
  :hover {
    cursor: pointer;
  }
 

//   Containers
  &__cont {
    
    &__thumbnail {
      :hover {
        cursor: pointer;
        transform: scale(1.08);
        margin-right: $smallSpace;
        background-color: $mercury;
      }
    }

    &__video {
      display: flex;
      width: 100%;
      padding-bottom: $spacer;

      
      
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: $spacer;
      padding: $minSpace 0;

    }

    &__title {
      display: flex;
      // flex-wrap: wrap;
      :hover {
        transform: none;
      }
    }

    &__username {
      display: flex;
      flex-wrap: wrap;
      :hover {
        transform: none;
      }
    }
  }
}
